.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  text-align: right;
}

.header > div,
.header > span {
  padding-right: 12px;
}

.headerWrap .tip {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  color: #8e8e8e;
}

.connect {
  cursor: pointer;
}

.handleWarp {
  max-width: 420px;
  margin: 12px auto;
  padding: 24px;
}

.handleWarp > span {
  font-size: 14px;
}

.handleWarp h2 {
  text-align: center;
  margin: 32px 0;
}

.handleWarp > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.handleWarp textarea,
.handleWarp input {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 0;
  font-size: 14px;
  padding-left: 8px;
}

.handleWarp textarea {
  resize: none;
  padding: 8px 0 8px 8px;
}

.handleWarp .item > span {
  display: block;
  margin: 12px 0 8px;
}

.handleWarp .item .endId {
  color: #fff;
  background-color: #333;
  border-bottom: 1px solid transparent;
}

.handleWarp .operate {
  display: flex;
}

.handleWarp button {
  width: 100%;
  height: 32px;
  margin: 24px 0 12px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}

.handleWarp .operate .disable {
  margin-left: 12px;
  background-color: #333;
  border: 1px solid transparent;
}

.handleWarp .tokenId {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.handleWarp .total {
  padding: 12px 0;
}

.handleWarp .tokenId > div {
  flex: 0 0 calc(20% - 10px);
  padding: 4px 0;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 4px;
}

.handleWarp .tokenId .active {
  border: 1px solid #fff;
}

.handleWarp .tokenId > span {
  flex: 100%;
  padding: 4px 0;
  color: #8e8e8e;
  font-size: 14px;
}

.footer {
  width: 100%;
  text-align: center;
  margin: 32px 0;
}

.footer a {
  margin: 0 8px;
}

a {
  text-decoration: none;
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.dotting {
  display: inline-block;
  width: 10px;
  min-height: 2px;
  padding-right: 2px;
  border-left: 2px solid currentColor;
  border-right: 2px solid currentColor;
  background-color: currentColor;
  background-clip: content-box;
  box-sizing: border-box;
  animation: dot 2s infinite step-start both;
}

.dotting:before {
  content: "...";
}

.dotting::before {
  content: "";
}

:root .dotting {
  margin-left: 2px;
  padding-left: 2px;
}

@keyframes dot {
  25% {
    border-color: transparent;
    background-color: transparent;
  }
  50% {
    border-right-color: transparent;
    background-color: transparent;
  }
  75% {
    border-right-color: transparent;
  }
}
